
/*Main Header*/

.title {
	display:inline-block;
	float: left;
	padding:0.5em 1em 0 2em;
	font-weight: 900;
	font-size: 1.75em;
}

.linksContainer {
	float: right;
	padding-right: 1.2em;
	
}

.linksContainer ul li {
	display: inline-block;
	background-color: black;
	text-align: right;
}

a {
	color:#748CA7;
	text-decoration: none;	
	font-weight: 600;	
	padding:.5em .5em !important;							
}      

a:visited {color:#748CA7;}
a:hover {
	color:#7E9CBD;
	text-decoration:underline;
} 
a:active {color:#748CA7;} 

/*End Main Header*/


/*Main CSS -- expands to other pages */

body {
	background-color: #143254; 
	color:white;
	font-family: 'Fjord One', serif;
}

header {
	background-color:black;
    position: fixed;
    height: 4em;
    z-index: 9999;
    width: 100%;
}

h1 {
	font-size: 2.5em;
	color:#FFDEAA;
	text-shadow: -2px -2px #AA7E39;
	text-align:center;
}

h2 {
	color: #D4AB6B;
}

img {		
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.contentContainerAll {
	background-color:#2B4B6F;
	padding:6em 1em 1em 1em;
	margin:0 auto;
	height:100%;
	max-width: 1080px;
	clear: both;	
}

.source span:hover {
	font-size: .5em;
}

.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.containerLeft {
	float:left;
}

.containerRight {
	float:right;
}

.containerRight {
	text-align:left;
}

.containerLeft img {
	text-align: left;
}	
.containerRight img {
	text-align: right;
}	

.width75 {
	width:75%;
}

.width50 {
	width:50%;
}

.width25 {
	width:25%;
}

/* End Main CSS */

/* Exercises Specific CSS */

.imageToggle {
	cursor:pointer;
}

.imgExercises {
	display: block;
	margin: 1em auto;
	width:25em;
	height:auto;
}
.hidden {
	text-align:left;
	padding-left:2em;
	display:none
}

/* End Exercises Specific CSS */

/* Going Further CSS */

.tableDiv {
	margin: 0 auto;
    background: #748CA7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#748CA7, #051D38); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#748CA7, #051D38); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#748CA7, #051D38); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#748CA7, #051D38); /* Standard syntax */
    border-radius: 5px;
}

.tableDiv th {
	border-bottom: 2px solid;
}

.tableDiv td {
	padding-top: .25em;
}

.tableFloat {
	float:left;
	margin: 1em 2em; 
	text-align: left;
}

.resultsContainer {
	background-color:#748CA7;
	min-height: 4em;
	border-radius: 10px;
	box-shadow:inset 0px 0px 17px 8px #2B4B6F;
}

#skillLevel {
	margin: 0 1em 0 2em;
	padding: 0 1em;
	text-align: left;
	color: black;
}

.buttonSubmit {
  display: inline-block;
  margin: 0.5em 1em 0.5em 2em;
  padding: 0.3em 1.5em;
  font-size: 1em;
  background: rgba(255,255,255,0.07);
  color: rgba(0,0,0,0.9);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.1);
  text-decoration: none;
  border: solid 1px rgba(20,20,20,1);
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.05), inset 0 0 35px rgba(0,0,0,0.6), 0 5px 5px -4px rgba(0,0,0,0.8);
}

.buttonSubmit:hover {
  background: rgba(255,255,255,0.05);
}

.buttonSubmit:active {
  position: relative;
  top: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.4), inset 0 0 35px rgba(0,0,0,0.6), 0 1px 1px rgba(255,255,255,0.1), inset 0 6px 4px rgba(0,0,0,0.4);
}

.challengeReplace {
	margin-left:2em;
	margin-bottom:1em;
	color:black;
	font-size:1.1em;
}

.challengeP {
	padding-bottom:2em;
	margin-top:-.75em;
	padding-left:2em;
	color:#051D38;
	font-weight: bold;
}


/* End - Going Further CSS */ 

/* Game Recommendations */
.bannerImg {
	float:left;
	margin: 1em 0.3em;
	display: block;
	height:6.5em;
	width: 20em;
}

#gameTitle {
	padding-left:0.3em;
	margin:0 0 1em 1em;
	color:black;
	width: 45%;
}

.resultsContainer p, .resultsContainer b {
	padding: 1em 0 0 1em;
}

.gameInformation {
	color: #051D38;
	padding:0 0 1em 2em;
}

.gameInformation h3 {
	color: black;
	font-size:1.25;
}

.spanTitle {
	color:#051D38;
	font-weight: bolder;
	font-size:1.1em;
	margin-right:3em;
}

.resultsContainer {
	color: black;
}

/* End - Game Recommendations */

/* Media -- Responsiveness */

@media (max-width: 1090px) {

	h2{
		padding-left:0.5em;
	}	

	header {
		height:6em;
	}
	.containerLeft {
		float:none;
		margin:auto;
	}

	.containerRight {
		float:none;
		margin:auto;
	}

	.linksContainer {
	float: left;
	}

	.imgMain {
    	width: 25em;
    	height: auto;
	}

	.imgExercises {
    	width: 30em;
	}

	.width25 {
		width:100%;
		text-align:center;
	}

	.width50 {
		width:100%;
		text-align:center;
	}
	.width75 {
		width:100%;
		margin:auto;
	}
	.hidden {
		margin:auto 6.5em;
	}

	#gameTitle {
		width: 28em;
	}
}

@media (max-width: 695px) {
	header {
		height:10em;
	}
	.contentContainerAll {
		padding: 9em 1em 1em 1em;
	}
	.linksContainer ul li {
		display: block;
		text-align: left; 
	}
	.imgMain {
    	width: 20em;
    	height: auto;
	}
	.imgExercises {
    	width: 20em;
	}
		.hidden {
		margin:auto 2em;
	}

	.buttonSubmit {
		margin-left:1em;
	}

	#skillLevel {
		margin: 0.5em 1em 0 1em;
	}

	.challengeReplace {
		font-size: 1em;
		margin:auto 1em auto 0.5em;
	}
		#gameTitle {
		width: 20em;
	}
}

@media (max-width: 425px) {

	header {
		height:11.75em;
	}
	.contentContainerAll {
		padding: 11em 1em 1em 1em;
	}
	.imgMain {
    	width: 10em;
	}
	.imgExercises {
    	width: 10em;
	}
		.hidden {
		margin:auto 1em;
	}
	#gameTitle {
		width: 15em;
	}

	.spanTitle {
		margin-right:.5em;
	}
}